<div class="about col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
	<i class="fa fa-diamond"></i>

	<h2>Elegance. Precision. Craftmanship.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus dui risus, quis dictum justo iaculis eget. Pellentesque id metus enim. Donec sed ullamcorper arcu, vitae tempus sem. Nam sapien est, cursus eget urna vitae, tristique elementum sapien. Aliquam molestie dolor eget augue pharetra, vel vulputate neque molestie. Sed auctor interdum dolor sed pretium. Morbi suscipit arcu non consectetur dapibus.</p>
	<br>
	<p>Maecenas consectetur gravida dui quis tristique. Praesent ipsum sem, porttitor vel nisl ut, facilisis finibus sapien. Integer in imperdiet erat. Cras lorem augue, eleifend eu urna vitae, tempus varius sapien. Morbi nunc sapien, porta a posuere vel, auctor scelerisque nulla. Pellentesque at arcu maximus, volutpat enim fermentum, viverra nulla. Nunc aliquet rutrum enim, at condimentum velit condimentum ac. Vivamus laoreet felis a mattis porta. Maecenas eleifend venenatis dignissim. Donec malesuada bibendum interdum.</p>
	<br><br>
	<button class="cta-view" ng-click="about.viewGallery()">View Past Work</button>
	<button class="cta-call" ng-click="about.viewContact()">Call Us Today</button>
</div>
