<div class="header col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
	<i class="fa fa-diamond"></i>

	<h2>Elegance. Precision. Craftmanship.</h2>
	<p>Here at Blue Ridge Tile and Hardwood we take pride in our workmanship. We value our customers and want you to feel at ease; so from the moment you call us to the final clean up we will treat you with respect and honor your wishes.</p>
	<p>We know how uncomfortable it can be to let strangers into your home to work on a project.  But unlike many contractors out there we will treat your home and property with care as if it was our own. We will assist you throughout the entire process in this addition to your home. You can trust in us to transform your floors into your vision.</p>
	<br><br>
	<button class="alt-button" ng-click="about.viewGallery()">View Past Work</button>
	<button class="primary-button" ng-click="about.viewContact()">Call Us Today</button>
</div>
